<h1>Welcome to Questions Answered</h1>

<h3>Recently Added Questions</h3>

<ul>
  {{#each model.posts as |post|}}
    <li>{{#link-to 'post' post.id}}{{post.author}}{{/link-to}}</li>
  {{/each}}
</ul>

{{post-new savePost="savePost"}}
